/*
	Client Inspire AI Theme
*/

:root {
  --color-primary: #5914E2;			/* Logo Purple */
  --color-accent1: #FFC940;			/* Gold Amber */
  --color-accent2: #00BFA6;			/* Cool Teal */
  --color-accent3: #FF5E5B;			/* Coral Salmon */
  --color-neutral-dark: #343434;	/* Dark Gray */
}
